.title{
    margin-top: 20px;
    max-height: 200px;
    background-color: #fff;
    padding:30px 35px;
}

.informations{
    /*border-left:1px solid #5A8BED;*/
    /*color: #5A8BED;*/
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14.5px;
    line-height: 27px;
    border-left:1px solid #666;
    color: #666;
}
.join{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 1.5px solid #5A8BED;
    background-color:#5A8BED;
    color: #fff;
    line-height: 60px;
    font-size:20px;
    text-align: center;

}
.join:hover{
    cursor: pointer;
}
.join_fail{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color:#aaa;
    color: #fff;
    line-height: 60px;
    font-size:15px;
    text-align: center;
}
.join_invite{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color:#6495ED;
    color: #fff;
    line-height: 60px;
    font-size:14px;
    text-align: center;
}
.join_invite:hover{
    cursor: pointer;
}
.introduction{
    max-height: 67.5px;
    width: 100%;
    overflow: hidden;
    font-size: 14px;
    line-height: 22.5px;
    color: #666;
    padding-top: 22.5px;
    padding-left: 10px;
    padding-right: 20px;
}
