.container{
    background-color: white;
    margin-top: 20px;
    padding: 30px 40px;
    font-size: 17px;
    padding-top: 50px;
}
.search_section{
    margin-top: 20px;
    background-color: #fff;
    padding:30px 50px;
    font-size: 16.5px;
}
#search{
    border: 1px solid #0e90d2;
    border-radius: 5px;
    width: 100%;
    height: 37.5px;
}
#search_box{
    font-size: 23px;
}
.section_box{
    margin-left: 20px;

}
.section_box:hover{
    cursor: pointer;
}
.line{
    border-bottom: 1px #eee solid;
}