<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jishaokang.dao.ScoreDAO">

    <insert id="addHomework" parameterType="com.jishaokang.model.dto.Homework" useGeneratedKeys="true" keyProperty="scoreId">
      INSERT INTO homework (classId,competitionId)
      VALUES (#{classId},#{competitionId})
    </insert>

    <delete id="deleteHomework" parameterType="com.jishaokang.model.dto.Homework">
        DELETE FROM homework
        WHERE homeworkId=#{homeworkId}
    </delete>

    <select id="selectHomeworkByClassId" parameterType="com.jishaokang.model.dto.Homework" resultMap="com.jishaokang.model.dto.Competition">
        SELECT competitionId,teacher.teacherId,teacherName,title,introduction,content,startTime,endTime,totalTeam,(SELECT count(*) FROM score WHERE score.competitionId = #{competitionId} and score.userId = #{userId}) as joinState
        FROM competition
        LEFT JOIN teacher on competition.teacher_id = teacher.teacher_id
        LEFT Join homework on homework.competitionId = competition.competitionId
        WHERE  classId = #{classId}
        and ( #{joinState}*(2*(SELECT count(*) FROM score WHERE score.competitionId = #{competitionId} and score.userId = #{userId})-1) &lt;= 0    )
    </select>

    <select id="selectHomeworkScoreByCompetitionId" parameterType="com.jishaokang.model.dto.Homework" resultMap="com.jishaokang.model.dto.Score">

        SELECT userId,competitionId,submitTime,submitFileUrl,submitCodeUrl,score,studentName
        FROM (
            select userId,competitionId,submitTime,submitFileUrl,submitCodeUrl,max(score),studentName as score
            from score
            left join joinClass on joinClass.userId = score.userId
            WHERE competitionId = #{competitionId} and classId = #{classId}
            group by userId
        )
        order by score DESC
    </select>

</mapper>